*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    transition:all 0.3s ease-in-out;
    user-select:none;
}

body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x:hidden;
    transition:all 0.3s ease-in-out;
}

.flex{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
}

button{
    border:none;
    background-color:transparent;
    cursor:pointer;
}

a{
    text-decoration:none;
    color:inherit;
    cursor:pointer;
}

.app h2.head2{
    font-size:2rem !important;
    margin: 0.6rem 0 0 2rem !important;
    color:rgb(51, 51, 51) !important;
}

body.dark .app h2.head2{
    color: #FFF !important;
}

section{
    position:relative;
}

.icons-wrapper{
    position:fixed;
    height:100vh;
    width:100vw;
    top:0;
    left:0;
}

.wrapper{
    position:absolute;
    width:100vw;
    height:100vh;
    overflow-y:auto;
    overflow-x:hidden;
    background:linear-gradient(60deg, rgba(201, 3, 102, 0.281) 0%, rgba(61, 9, 121, 0.164) 35%, rgba(0, 212, 255, 1) 100%);
    z-index:-3;
    scroll-behavior:smooth;
}

body.dark .wrapper{
    background:linear-gradient(60deg, rgba(1, 2, 41, 0.381) 0%, rgba(28, 4, 56, 0.564) 35%, rgb(2, 53, 63) 100%);
}

.home,.work,.about,.contact{
    flex-direction:column;
    align-items:flex-start;
    min-height:100vh;
}

.homeCard,.aboutMeDescription{
    max-width:85vw;
    width:800px;
    margin:0 15vw;
    padding:1.3rem;
    border-radius:0.8rem;
    font-weight:600;
    line-height:1.5;
    border:2px solid rgba(173, 202, 219, 0.2);
    background-color:rgba(173, 202, 219, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

body.dark .homeCard, body.dark .aboutMeDescription{
    background-color:rgba(20, 24, 26, 0.4);
    border-color:rgba(20, 24, 26, 0.1);
}

@media only screen and (max-width:1065px) {
    .homeCard,.aboutMeDescription{
        margin:0 auto 0 auto;
    }
}
