*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x:hidden;
    transition:all 0.3s ease-in-out;
}

.flex{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
}

button{
    border:none;
    background-color:transparent;
    cursor:pointer;
}

a{
    text-decoration:none;
    color:inherit;
    cursor:pointer;
}

h2{
    font-size:3.4rem;
    margin: 0.6rem 0 0 2rem;
    color:rgb(51, 51, 51);
}

section{
    position:relative;
}

.wrapper{
    position:absolute;
    width:100vw;
    height:100vh;
    overflow-y:auto;
    overflow-x:hidden;
    background:linear-gradient(60deg, rgba(201, 3, 102, 0.281) 0%, rgba(61, 9, 121, 0.164) 35%, rgba(0, 212, 255, 1) 100%);
    z-index:-3;
}

.floatingIcon{
    position:fixed;
    width:35px;
    height:35px;
    background-color:transparent;
    border:4px solid rgba(29, 28, 28, 0.8);
    border-radius:0.8rem;
    z-index:-1;
    animation:float linear infinite;
}

.floatingIcon:nth-child(1){
    top:12vh;
    left:42%;
    animation-duration:10s;
}

.floatingIcon:nth-child(2){
    top:70vh;
    left:50%;
    animation-duration:7s;
}

.floatingIcon:nth-child(3){
    top:17vh;
    left:6%;
    animation-duration:9s;
}

.floatingIcon:nth-child(4){
    top:12vh;
    left:42%;
    animation-duration:10s;
}

.floatingIcon:nth-child(5){
    top:67vh;
    left:10%;
    animation-duration:6s;
}

.floatingIcon:nth-child(6){
    top:80vh;
    left:70%;
    animation-duration:12s;
}

.floatingIcon:nth-child(7){
    top:60vh;
    left:80%;
    animation-duration:15s;
}

.floatingIcon:nth-child(8){
    top:32vh;
    left:25%;
    animation-duration:16s;
}

.floatingIcon:nth-child(9){
    top:90vh;
    left:25%;
    animation-duration:9s;
}

.floatingIcon:nth-child(10){
    top:20vh;
    left:80%;
    animation-duration:5s;
}

.home,.work,.about,.contact{
    flex-direction:column;
    align-items:flex-start;
    min-height:100vh;
}

.homeCard,.aboutMeDescription{
    max-width:85vw;
    width:800px;
    margin:0 15vw;
    padding:1.3rem;
    border-radius:0.8rem;
    font-weight:600;
    line-height:1.5;
    border:2px solid rgba(173, 202, 219, 0.2);
    background-color:rgba(173, 202, 219, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@keyframes float {
    0%{
        transform:scale(0) translate(0) rotate(0);
    }
    100%{
        transform:scale(1.3) translateX(90px) translateY(-90px) rotate(360deg);
        opacity:0;
    }
}

@media only screen and (max-width:1065px) {
    .homeCard,.aboutMeDescription{
        margin:0 auto 0 auto;
    }
}

@media only screen and (max-width: 900px) {
    .floatingIcon{
        height:20px;
        width:20px;
        border-radius:0.4rem;
    }
}