
.nav{
    position:relative;
    z-index:10000;
    flex-direction:column;
    align-items:flex-end;
    gap:2rem;
    position:fixed;
    top:0;
    right:2.6rem;
    margin-top:4rem;
    padding:1.4rem;
}

.navLink{
    font-weight:600;
    letter-spacing:0.6px;
    font-size:1.3rem;
}

.toggleThemeBtn{
    transform:rotate(-30deg);
}

.toggleThemeBtn:active{
    animation:rotate 0.1s ease-in-out forwards;
}

.toggleThemeBtn img{
    width:20px;
}

.navLink a{
    display:inline-block;
    position:relative;
    width:fit-content;
}

body.dark .navLink a{
    color:#FFF;
}

.navLink a::before{
    content: '';
    position:absolute;
    top:50%;
    height:0;
    border:2px solid;
    right:-1.2rem;
    border-radius:0.4rem;
    transition:all 0.3s ease-in-out;
}

.navLink a:hover::before{
    top:0%;
    height:100%;
}

@keyframes rotate {
    0% {transform: rotate(-30deg);}
    50% {transform: rotate(30deg);}
    100% {transform: rotate(-30deg);}
}

@media only screen and (max-width: 1300px) {
    .nav{
        flex-direction:row;
        bottom:0;
    }

    .nav{
        width:100vw;
        border:2px solid rgba(226, 237, 243, 1);
        background-color:rgba(226, 237, 243, 0.952);
        top:auto;
        bottom:0;
        left:0;
        padding:1rem;
    }

    body.dark .nav{
        border-color:rgba(19, 20, 20, 1);
        background-color:rgba(19, 20, 20, 0.952);
    }

    .navLink{
        font-size:initial;
        font-weight:800;
    }

    .navLink a::before{
        width:100%;
        height: 0 !important;
        top:110% !important;
        right:0;
        left:0;
        border-width:1px;
    }
}

@media only screen and (max-width: 700px) {

    .toggleThemeBtn img{
        width:10px;
    }
}