
.myWork{
    margin:1.2rem auto;
    justify-content:flex-start;
    align-items:flex-start;
    max-width:1450px;
}

.workCard{
    margin:0.5rem 1rem;
    width:350px;
    max-width:90vw;
    border:2px solid;
    border-radius:1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow:hidden;
}

.projectImage{
    display:block;
    width:85%;
    margin:1rem auto;
    border-radius:1.2rem;
}

.technologyUsedContainer{
    flex-wrap:wrap;
    gap:0.8rem;
    justify-content:flex-start;
    margin:30px auto 15px auto;
    width:92%;
}

.technologyUsedBlock{
    padding:4px 8px;
    border-radius:1rem;
    font-size:0.9rem;
}

.aboutProject{
    width:92%;
    margin:15px auto 0 auto;
    padding:1.3rem 1rem;
    line-height:1.4;
    border-radius:1rem 1rem 0 0;
}

.projectTitle{
    position:relative;
    width:fit-content;
    margin:0 0 1.8rem 0;
}

.projectTitle::before{
    position:absolute;
    width:100%;
    content:'';
    border:3px solid;
    border-radius:0.2rem;
    top:95%;
}

.projectDescription{
    color:#000;
}

.workButtonContainer{
    justify-content:flex-start;
    gap:1rem;
    margin:1rem 0 0.8rem 0;
}

.workButtonContainer button{
    padding:0.7rem 1rem;
    border-radius:2rem;
    background-color:rgb(193, 191, 201);
    gap:0.6rem;
    transition:all 0.3s ease-in-out;
}

.workButtonContainer button:hover{
    background-color:#000;
    color:#FFF;
}

.workButtonContainer img{
    max-width:100%;
}

@media only screen and (max-width:700px) {
    h2{
        font-size:1.3rem;
        letter-spacing:0.9px;
    }
}